*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --bg-coral: #FF6565;
    --clr-white: #ffffff;
    -clr-midnight-blue: #071629;
    font-family: 'Source Sans 3', sans-serif;
}

.container {
    margin: auto;
    max-width: 1000px;
    width: 95%;
}

.header_and_hero {
    background: white url(./images/headphones_hero_1.jpg) no-repeat;
    background-position: top 50% left 40%;
    background-size: cover;
    min-height: 50rem;
    padding-bottom: 4.3125rem;
}

nav {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-block: 1.74rem;
    position: relative;
}

.hamburger {
    cursor: pointer;
    flex-shrink: 0;
    height: 2rem;
}

.nav__logo {
    width: 100%;
}

.logo {
    flex-shrink: 0;
    height: 2rem;
    left: 50%;
    position: absolute;
    top: 45px;
    transform: translate(-50%, -50%);
    width: 10.0625rem;
}

.nav__list {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: space-between;
    list-style: none;
    margin-top: 2rem;
    width: 90%;
}

.nav__link {
    color: var(--clr-white);
    display: block;
    text-align: center;
    text-decoration: none;
    transition: color 200ms ease-out;
}

.nav__link:hover,
.nav__link:active {
    color: var(--bg-coral);
}

.hero {
    color: var(--clr-white);
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-top: 18.61rem;
}

.strong {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 auto;
    width: 75%;
}

.hidden {
    display: none;
}

button {
    background-color: var(--bg-coral);
    border: none;
    border-radius: 3rem;
    color: var(--clr-white);
    cursor: pointer;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    margin: clamp(1.5rem, 3vw, 2.5rem) auto 4.06rem;
    padding: 1rem 2rem;
}

button:hover,
button:active {
    opacity: 0.9;
}

.hero__text {
    font-weight: 400;
    line-height: 1.625rem;
    margin-inline: auto;
    max-width: 39.8125rem;
    opacity: 0.85;
}

@media (min-width: 600px) {
    .hamburger {
        display: none !important;
    }

    .hidden {
        display: flex;
    }

    nav {
        flex-flow: row;
    }

    .nav__logo {
        display: grid;
        width: unset;
    }

    .logo {
        position: static;
        transform: unset;
    }

    .nav__list {
        flex-flow: row;
        gap: 2.56rem;
        justify-content: space-between;
        margin-top: 0;
        width: unset;
    }

    .nav__link {
        color: var(--clr-white);
        display: block;
        text-align: center;
        text-decoration: none;
    }
}