* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Source Sans 3", sans-serif;
}

.container {
  width: 93%;
  max-width: 1100px;
  margin-inline: auto;
}

.header_hero_pro {
  background: white url(./images/hero_background.png) no-repeat;
  color: white;
  background-position: top 50% left 35%;
  background-size: cover;
  padding-block: 1.44rem 5.12rem;
  min-height: 50.3125rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: clamp(7rem, 36vw, 10.4385rem);
  height: 1.84131rem;
  flex-shrink: 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 0 clamp(0.9rem, 3vw, 3.25rem);
}

.nav__link {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  min-width: 3rem;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  text-align: center;
  font-weight: 700;
  margin-bottom: 6.5rem;
}

h1 {
  margin-top: 8.5rem;
  font-size: clamp(4rem, 5vw, 7.5rem);
  line-height: calc(1.6 - 1vw);
}

.word-space {
  word-spacing: clamp(1.5rem, 4vw, 3.56rem);
  margin-bottom: 2.38rem;
}

.register {
  font-weight: 600;
  padding: 0.5em 1em;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.pros__section h2 {
  margin-bottom: 5.44rem;
}

.pros__section .row {
  gap: 1rem;
  align-items: baseline;
}

.pros__section .my__grid {
  row-gap: 2rem;
}

.pro {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.6em;
  justify-content: space-between;
  text-align: center;
  max-width: 9.37rem;
}

.pro h3 {
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-weight: 700;
}

.pro p,
.pro time {
  font-size: clamp(0.85rem, 2vw, 1rem);
}

.quote {
  min-height: 10rem;
  padding-block: clamp(4rem, 8%, 8.25rem) clamp(4rem, 8%, 6.37rem);
}

blockquote,
q {
  quotes: none;
}

.videos {
  padding-block: 5.44rem;
}
.tutorial__video {
  position: relative;
}

.tutorial__video::after {
  content: url(./images/play.png);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.tutorial__video:hover {
  filter: saturate(1.5) drop-shadow(3px 1px 6px gray);
  transition: filter 400ms ease-out;
}

.videos h2 {
  margin-bottom: 4.69rem;
}

.tutorial {
  max-width: 15.9375rem;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  gap: 0.5rem;
  flex-basis: 46%;
}

.tutorial p {
  color: rgba(7, 22, 41, 0.5);
  font-size: 0.875rem;
}

.tutorial__title,
.tutorial__rating {
  color: #c271ff;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
}

.tutorial__rating {
  justify-content: space-between;
}

.tutorial__rating img {
  min-width: 40px;
}

.tutorial__title img {
  max-width: 1.875rem;
  max-height: 1.875rem;
  border-radius: 50%;
  margin-right: 5%;
}

.membership {
  padding-block: 4.38rem;
}

.membership h2 {
  margin-bottom: 3.63rem;
}

.member {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.6em;
  justify-content: space-between;
  text-align: center;
  max-width: 13.825rem;
}

.member img {
  max-width: 2.72913rem;
  max-height: 2.20956rem;
  margin-bottom: 1.66rem;
  margin-inline: auto;
}

.faq_section {
  padding-block: 4.19rem 5.25rem;
}
.faq_title {
  font-size: 3.75rem;
  font-weight: 300;
  margin-bottom: 4.62rem;
}

.membership button {
  margin-top: 5.31rem;
}

.my__grid {
  row-gap: 4rem;
}

.faq h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.88rem;
}
.faq p {
  color: rgba(7, 22, 41, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}
/*******FOOTER********/
footer {
  color: white;
  padding-block: clamp(3.44rem, 7%, 5.74rem) 2.13rem;
}

.footer__logo {
  flex-shrink: 0;
  height: 2rem;
  width: 10.0625rem;
}

footer .row {
  align-items: center;
  gap: 2.81rem;
  justify-content: center;
  display: flex;
  flex-flow: column;
  gap: 6rem 3.62rem;
}

.footer__icons {
  color: white;
  display: flex;
  font-size: 1.5rem;
  gap: 2rem;
}

footer small {
  color: white;
  display: block;
  margin-top: 2.81rem;
  opacity: 0.4;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .videos .row {
    gap: 1.94rem;
  }
  footer .row {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: 6rem 3.62rem;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 33.495rem;
  }

  /*******FOOTER SECTION********/
  footer .row {
    justify-content: space-between;
    max-width: 100%;
  }
}

@media (min-width: 800px) {
  .hero {
    margin-bottom: 10.5rem;
  }

  h1 {
    margin-top: 10.5rem;
  }
  .header_hero_pro {
    background-position: top 50% left 40%;
    padding-block: 2.44rem 6.12rem;
    min-height: 60.3125rem;
  }

  .row {
    flex-flow: row nowrap;
    max-width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
[role="button"] {
  cursor: pointer;
}

img,
svg {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.items-baseline {
  align-items: baseline;
}

.gap-8 {
  gap: 2rem;
}

.rounded-full {
  border-radius: 9999px;
}

.bg-midnight-blue {
  --bg-opacity: 1;
  background-color: rgb(7 22 41 / var(--bg-opacity));
}

.bg-school-purple {
  background-color: #c271ff;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-white {
  --text-opacity: 1;
  color: rgb(255 255 255 / var(--text-opacity));
}

.my__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .my__grid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .my__grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .my__grid {
    gap: 2.5rem;
  }
}

.purple {
  color: #c271ff;
}

.register {
  border-radius: 9999px;
  background-color: #c271ff;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-colored: 0 4px 6px -1px var(--shadow-color),
    0 2px 4px -2px var(--shadow-color);
  box-shadow: var(--ring-offset-shadow, 0 0 #0000),
    var(--ring-shadow, 0 0 #0000), var(--shadow);
}

.register:hover {
  --bg-opacity: 1;
  background-color: rgb(216 180 254 / var(--bg-opacity));
}

.pro img {
  border-radius: 9999px;
}

.pro *:not(h3, img) {
  font-style: italic;
  opacity: 0.9;
}

.tutorial h3 {
  font-weight: 700;
  --text-opacity: 1;
  color: rgb(7 22 41 / var(--text-opacity));
}

.membership {
  --bg-opacity: 1;
  background-color: rgb(7 22 41 / var(--bg-opacity));
  text-align: center;
  --text-opacity: 1;
  color: rgb(255 255 255 / var(--text-opacity));
}

.faq h3 {
  --text-opacity: 1;
  color: rgb(7 22 41 / var(--text-opacity));
}

.nav__link:hover,
.footer__link:hover {
  --text-opacity: 1;
  color: rgb(216 180 254 / var(--text-opacity));
}

@media (min-width: 640px) {
  .sm\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 768px) {
  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mr-8 {
    margin-right: 2rem;
  }

  .md\:flex {
    display: flex;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .md\:text-start {
    text-align: start;
  }

  .md\:align-bottom {
    vertical-align: bottom;
  }
}
