body{
    display: flex;
    flex-flow: column nowrap;
}

main{
    display: flex;
    flex: auto;
    flex-wrap: wrap;

}

main > article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
}

footer{
    text-align: center;
}